.intro {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px 0;
  }
}
